@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="mititulo">Aprende Deramweaver</h1>
    <div class="imagencentral">
    </div>
    <div class="slider">
        <ul class="slides">
          <li>
            <h5>Crea paginas web</h5>
          </li>
          <li>
            <h5>Desarrolla tu tienda on-line</h5>
          </li>
          <li>
            <h5>Crea una aplicación</h5>
          </li>
          <li>
            <h5>Conviertete en desarrollador web</h5>
          </li>
        </ul>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
        <h2 class ="mititulo">Crea una pagina web con DW</h2>
        <img src="img/paginaweb.jpg" width="320" height="206" alt=""/> 
    <br>
    <center><a class="btn__negro" href="#">Compar curso</a></center>
    </div>
    <div class="col-md-4">
        <h2 class ="mititulo">Crea una tienda en linea con DW</h2>
        <img src="img/tienda.png" width="309" height="206" alt=""/> 
    <center><a class="btn__negro" href="#">Compar curso</a></center>
    </div>
    <div class="col-md-4">
        <h2 class ="mititulo">Crea una aplicación con DW</h2>
        <img src="img/aplicacion.png" width="308" height="206" alt=""/> 
    <center><a class="btn__negro" href="#">Compar curso</a></center>
    </div>
</div>
